body {
    background-color: darkgrey;
    font-family:"Rationale", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.rationale-regular {
    font-family: "Rationale", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
header {
    background-color: #333; /* Color de fondo de la barra de navegación */
    padding: 10px 0; /* Espaciado interno */
}

.navbar {
    display: flex;
    background-color: #333;
    color: white;
    align-items: center;
    padding: 10px;
  }
  .navbar-logo {
    margin-right: auto;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .navbar ul li {
    padding: 0 20px;
  }
  .navbar ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  .navbar ul li a:hover {
    color: #706c6c;
  }
/* Estilos para el formulario de ingreso */
.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 5px;
}

.login-form input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}



footer {
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto */
    padding: 20px 0; /* Espaciado interno */
}

.footer-container {
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */
}

.footer-section {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin-right: 20px; /* Espaciado entre las secciones */
    margin-left: 2%;
}

.footer-section h3 {
    color: #fff; /* Color del título de la sección */
}

.footer-section ul {
    list-style-type: none; /* Quita los estilos de lista */
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px; /* Espaciado entre elementos de la lista */
    color: rgb(241, 237, 237);
    transition: color 0.3s ease;
}

.flinks{
    color:#fff;
    text-decoration: none;
}

.flinks:hover {
    color: #706c6c; /* Cambia el color a rojo al pasar el ratón */
}

.social-icons {
    display: flex; /* Usa flexbox para alinear los íconos */
    padding: 0;
}

.social-icons li {
    margin-right: 10px; /* Espaciado entre los íconos */
}

.social-icons li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último ícono */
}

.social-icons img {
    width: 30px; /* Tamaño de los íconos de redes sociales */
    height: auto;
}
.postfooter {
    background-color:#333;
    text-align: center;
    color:#ffffff;
    font-family: "Rationale", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1px;
}