body {
    background-color: darkgrey;
    font-family:"Rationale", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.rationale-regular {
    font-family: "Rationale", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
header {
    background-color: #333; /* Color de fondo de la barra de navegación */
    padding: 10px 0; /* Espaciado interno */
}

.navbar {
    display: flex;
    background-color: #333;
    color: white;
    align-items: center;
    padding: 10px;
}
.navbar-logo {
    margin-right: auto;
}
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar ul li {
    padding: 0 20px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}
.navbar ul li a:hover {
    color: #706c6c;
}

#formulario-compra {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(233, 230, 230, 0.7);
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.slide {
    display: none;
    width: 100%;
}

footer {
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto */
    padding: 20px 0; /* Espaciado interno */}
.footer-container {
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */}
.footer-section {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin-right: 20px; /* Espaciado entre las secciones */
    margin-left: 2%;
}

.footer-section h3 {
    color: #fff; /* Color del título de la sección */
}

.footer-section ul {
    list-style-type: none; /* Quita los estilos de lista */
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px; /* Espaciado entre elementos de la lista */
    color: rgb(241, 237, 237);
    transition: color 0.3s ease;
}

.flinks{
    color:#fff;
    text-decoration: none;
}

.flinks:hover {
    color: #706c6c; /* Cambia el color a rojo al pasar el ratón */
}

.social-icons {
    display: flex; /* Usa flexbox para alinear los íconos */
    padding: 0;
}

.social-icons li {
    margin-right: 10px; /* Espaciado entre los íconos */
}

.social-icons li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último ícono */
}

.social-icons img {
    width: 30px; /* Tamaño de los íconos de redes sociales */
    height: auto;
}
.postfooter {
    background-color:#333;
    text-align: center;
    color:#ffffff;
    font-family: "Rationale", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1px;
}