body {
    background-color: darkgrey;
    font-family:"Rationale", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.rationale-regular {
    font-family: "Rationale", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
header {
    background-color: #333; /* Color de fondo de la barra de navegación */
    padding: 10px 0; /* Espaciado interno */
}

.navbar {
    display: flex;
    background-color: #333;
    color: white;
    align-items: center;
    padding: 10px;
}
.navbar-logo {
    margin-right: auto;
    margin-left: 1%;
}
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar ul li {
    padding: 0 20px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}
.navbar ul li a:hover {
    color:#706c6c;
}
/* Estilos para el formulario */
#loginSection {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f9f9;
}

#loginForm label {
    display: block;
    margin-bottom: 8px;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#loginForm input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#loginForm input[type="submit"]:hover {
    background-color: #45a049;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    animation: rotateOut;
    animation-duration: 5s;
}

@keyframes animate__rotateOut {
    from { transform: translate(-50%, -30%); }
    to { transform: translate(-50%, -70%); }
}

.payment-promotions {
    background: rgb(2,40,41);
    background: linear-gradient(0deg, rgba(2,40,41,1) 0%, rgba(175,205,225,1) 0%, rgba(55,135,251,1) 0%, rgba(207,205,217,1) 0%, rgba(80,150,245,1) 0%, rgba(163,255,0,1) 0%, rgba(180,230,92,1) 0%);
    padding: 50px 0; /* Espaciado interno */
}

.container {
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenido horizontalmente */
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los lados */
}

.payment-methods, .special-promotions {
    flex: 1; /* Ocupa el mismo espacio */
}

.payment-methods h2, .special-promotions h2 {
    color: #333; /* Color del título */
}

.payment-methods ul, .special-promotions ul {
    list-style-type: none;
    padding: 0;
}

.payment-methods ul li, .special-promotions ul li {
    margin-bottom: 10px; /* Espaciado entre elementos */
}



footer {
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto */
    padding: 20px 0; /* Espaciado interno */
}

.footer-container {
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */
}

.footer-section {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin-right: 20px; /* Espaciado entre las secciones */
    margin-left: 2%;
}

.footer-section h3 {
    color: #fff; /* Color del título de la sección */
}

.footer-section ul {
    list-style-type: none; /* Quita los estilos de lista */
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px; /* Espaciado entre elementos de la lista */
    color: rgb(241, 237, 237);
    transition: color 0.3s ease;
}

.flinks{
    color:#fff;
    text-decoration: none;
}

.flinks:hover {
    color: #706c6c; /* Cambia el color a rojo al pasar el ratón */
}
.social-icons {
    display: flex; /* Usa flexbox para alinear los íconos */
    padding: 0;
}

.social-icons li {
    margin-right: 10px; /* Espaciado entre los íconos */
}

.social-icons li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último ícono */
}

.social-icons img {
    width: 30px; /* Tamaño de los íconos de redes sociales */
    height: auto;
}

.postfooter {
    background-color:#333;
    text-align: center;
    color:#ffffff;
    font-family: "Rationale", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1px;
}
